# nixpacks.toml

[phases.setup]
# Memaksa Nixpacks menginstal PHP 8.4 dan Node.js versi 20
nixPkgs = ["php84", "nodejs_25", "npm"]

[phases.install]
# Menjalankan instalasi dependency PHP
cmds = ["composer install", "npm install"]

[phases.build]
cmds = [
    "npm run build", 
    "php artisan optimize:clear", 
    "php artisan optimize"
]

[start]
# Perintah untuk menjalankan Laravel
cmd = "php artisan serve --host 0.0.0.0 --port $PORT"